%div{:class => "content"}
	%div{:class => "content_resize"}
		%script
			:plain
				$(document).ready( function () {
					$('#users').DataTable({
						})

				});	
		%script
			:plain
				$(document).ready( function () {
				$( "#filter" ).change(function(){
					if(this.value != 'All')
					$('#users').DataTable().search(this.value).draw()
					else
					$('#users').DataTable().search("").draw()
				})
				});
		%div{:align => 'center', :class=>'container-fluid'}
			%h3{:class=>'page-header', :align =>'center'} AggieExperts Users
			%form{:style => 'float: left'}
				%label{:for=>'filter', :id=> 'filter_id'}
					%font{:size => '2.8'} Status Filter: 
				%select{:default => :all, :id=>'filter', :class=>'btn dropdown-toggle'}
					%option{:value => :All} All
					-@status.each do |status|
						%option{:value => status.description} #{status.description}
			
			%br
			%br
			%table#users	
				%thead
					%tr
						%th{:align=>'center'} Name
						%th{:align=>'center'} Email
						%th{:align=>'center'} Status
						%th{:align=>'center'} Actions
				%tbody
					- @users.each do |user|
						%tr
							%td{:align=>'center'}= link_to trim_email(user.email), user_path(user.id)
							%td{:align=>'center'}= link_to user.email, ("/")
							%td{:align=>'center'}= status_description(user.status_id)
							%td{:align=>'justify'}
								%div{:id=>"action_container", :style=>'overflow: hidden; position: relative; white-space: nowrap;'}
									%div{:id => 'disable_container',:style => 'float: left'}
										%form{:controller => :admin, :action => :disable_user, :method => "post"}
											%input{:name=>'disable_user', :value=>user.id, :hidden=>"true"}
											- if disable_enabled(user.status_id) == 1
												%input{:type=>"image", :src=>"/assets/disable.png", :alt=>"Submit", :title=>"Disable User",:class=>'img'}
											- elsif disable_enabled(user.status_id) == 2
												%input{:type=>"image", :src=>"/assets/enable.png", :alt=>"Submit", :title=>"Enable User",:class=>'img'}
											- else 
												%img{:alt=>"Delete/Enable Disabled", :src=>"/assets/grey.png", :title=>"Delete/Enable Disabled"}
									%div{:id => 'delete_container',:style => 'float: left'}
										%form{:controller => :admin, :action => :delete_user, :method =>"post"}
											- if delete_enabled(user.status_id)
												%input{:name=>'delete_user', :value=>user.id, :hidden=>"true"}
												%input{:type=>"image", :src=>"/assets/Delete.png", :alt=>"Submit",:title=>"Delete User", :data=>{:confirm=>"Are you sure?"}, :class=>'img'}
											-else
												%img{:alt=>"Delete Disabled", :src=>"/assets/delete_disable.png", :title=>"Delete Disabled"}
									%div{:id => image_tag("/images/Resend.png"),:style => 'float: left',}
										%form{:controller => :admin, :action => :resend_act_user, :method => "post"}
											- if resend_enabled(user.status_id)
												%input{:name=>'resend_user', :value=>user.id, :hidden=>"true"}
												%input{:type=>"image", :src=>"/assets/Email.png", :alt=>"Submit",:title=>"Resend Activation Link", :class=>'img'}
											- else
												%img{:alt=>"Resend Activation Disabled", :src=>"/assets/Email_disable.png", :title=>"Resend Activation Disabled"}
									%div{:id => 'approve_container',:style => 'float: left'}	
										%form{:controller => :admin, :action => :approve_user, :method => "post"}
											- if approve_enabled(user.status_id)	
												%input{:name=>'approve_user', :value=>user.id, :hidden=>"true"}
												%input{:type=>"image", :src=>"/assets/approve.jpg", :alt=>"Submit",:title=>"Approve User", :class=>'img'}
											- else
												%img{:alt=>"Approve Disabled", :src=>"/assets/approve_disable.jpg", :title=>"Approve Disabled"}	
		%br

		%div{:id => 'Approve All'}
			= button_to 'Approve All', {:controller => :admin, :action => :approve_all}
		%br

		%div{:id => "add_form", :align=>'center'}
			%form{:controller => :admin, :action => :add_user, :method => 'post', :align => 'center'}	
				%input{:name => "userEmail", :type => "text", :id => "tb_add_user", :placeholder =>'abc@xyz.edu'}
				%input{:type => "submit", :value => "Add User", :id => "bt_add_user"}

