.content
  .content_resize
    = form_tag user_path(@user), :method => :put do
      %table#parent
        %tbody
          %tr
            %td
              .box#photo
                %img.profile_pic{:alt => "", :height => "200", :src => asset_path("default.png"), :width => "200"}
              .box#contact_info
                %table#contact_info
                  %tbody
                    %tr
                      %td
                        .bold_3
                          Phone:
                      %td
                        %textarea.contact{:rows=> '2', :name=> 'user[phone]'}
                          #{@profile[:phone]}
                    %tr
                      %td
                        .bold_3
                          Email:
                      %td
                        %textarea.contact{:rows=> '2', :name=> 'user[email]'}
                          #{@profile[:email]}
            %td
              .box#name
                %textarea.bold_1{:rows=> '1', :name=> 'user[fname]'}
                  #{@profile[:fname]}
                %textarea.bold_1{:rows=> '1', :name=> 'user[lname]'}
                  #{@profile[:lname]}
              .box#description
                .bold_2#heading
                  Bio
                %textarea.bio{:rows=> '10', :name=> 'user[description]'}
                  #{@profile[:description]}
              .box#publications
                .bold_2#heading
                  Publications
                %table#publications
                  %thead
                    %td
                      .bold_3
                        Title
                    %td
                      .bold_3
                        URL
                    %td
                      .bold_3
                        Delete
                  %tbody
                    - @publications.each do |pub|
                      %tr
                        %td.pub
                          %input.publication{:type=>'text',:value=>"#{pub[:title]}",:name => "pub[#{pub[:id]}][data][title]"}
                        %td.pub
                          %input.publication{:type=>'text',:value=>"#{pub[:url]}", :name => "pub[#{pub[:id]}][data][url]"}
                        %td.center
                          %input{:type=>'checkbox',:name=>"#{pub[:url]}#{pub[:title]}", :name => "pub[#{pub[:id]}][check]"}

              .box#keywords
                .bold_2#heading
                  Keywords
                %table#keywords
                  %thead
                    %td
                      .bold_3
                        Key
                    %td
                      .bold_3
                        Delete
                  %tbody
                    -@keywords.each do |key|
                      %tr
                        %td
                          %input#key{:type=>'text', :value=>"#{key['key']}", :name => "key[#{key['id']}][data][key]" }
                        %td.center
                          %input{:type=>'checkbox',:name => "key[#{key['id']}][check]"}

      = submit_tag 'Save Changes'
