.content
  .content_resize
    = form_tag user_path(@user), :method => :put do
      #edit_content
        %table#parent
          %tbody
            %tr
              %td
                .left_column
                  .box#photo
                    %img.profile_pic{:alt => "", :height => "200", :src => asset_path("default.png"), :width => "200"}
                  .box#contact_info
                    %table#contact_info
                      %tbody
                        %tr
                          %td
                            .bold_3
                              Phone:
                          %td
                            %textarea.contact{:name=> 'user[phone]', :id => 'phone'}
                              #{@profile[:phone]}
                        %tr
                          %td
                            .bold_3
                              Email:
                          %td
                            %textarea.contact{:name=> 'user[email]', :id => 'email'}
                              #{@profile[:email]}
              %td
                .right_column
                  .box#name
                    %table
                      %tbody
                        %tr
                          %td.title
                            %select.bold_1{:name => 'user[title]'}
                              -['Dr.', 'Prof.', 'Mr.', 'Mrs.', 'Miss'].each do |title|
                                -if title == @profile[:title]
                                  %option{:value => title, :selected => "selected"} #{title}
                                -else
                                  %option{:value => title} #{title}
                          %td
                            %textarea.bold_1{:name=> 'user[name]', :id => 'name'}
                              #{@profile[:name]}
                  .box#description
                    .bold_2#heading
                      Bio
                    %textarea.bio{:name=> 'user[description]', :id => 'bio'}
                      #{@profile[:description]}
                  .box#publications
                    .bold_2#heading
                      Publications
                    %table#publications
                      %thead
                        %td
                          .bold_3
                            Title
                        %td
                          .bold_3
                            URL
                        %td
                          .bold_3
                            Delete
                      %tbody
                        -(0..5).each do |index|
                          %tr
                            -if @publications.length > index
                              %td.pub
                                %textarea.publication{:name => "pub[#{@publications[index][:id]}][data][title]", :id => "pub[#{@publications[index][:id]}][data][title]"}
                                  #{@publications[index][:title]}
                              %td.pub
                                %textarea.publication{:name => "pub[#{@publications[index][:id]}][data][url]", :id => "pub[#{@publications[index][:id]}][data][url]"}
                                  #{@publications[index][:url]}
                              %td.center
                                %input{:type=>'checkbox',:name=> "pub[#{@publications[index][:id]}][check]", :id => "pub[#{@publications[index][:id]}][check]"}
                            -else
                              %td.pub
                                %textarea.publication{:name => "pub[new][#{index}][data][title]", :id => "pub[new][#{index}][data][title]"}
                              %td.pub
                                %textarea.publication{:name => "pub[new][#{index}][data][url]", :id => "pub[new][#{index}][data][url]"}
                              %td.center
                                %input{:type=>'checkbox',:name=> "pub[new][#{index}][check]", :id => "pub[new][#{index}][check]", :disabled => ""}
                  .box#keywords
                    .bold_2#heading
                      Keywords
                    %table#keywords
                      %thead
                        %td
                          .bold_3
                            Key
                        %td
                          .bold_3
                            Delete
                      %tbody
                        -(0..5).each do |index|
                          %tr
                            -if @keywords.length > index
                              %td
                                %textarea.keywords{:name => "keyword[#{index}][key]", :id => "keyword[#{index}][key]"}
                                  #{@keywords[index]['key']}
                              %td.center
                                %input{:type=>'checkbox',:name => "keyword[#{index}][check]"}
                            -else
                              %td
                                %textarea.keywords{:name => "keyword[#{index}][key]", :id => "keyword[#{index}][key]"}
                              %td.center
                                %input{:type=>'checkbox',:name => "keyword[#{index}][check]", :id => "keyword[#{index}][check]", :disabled => ''}
      = submit_tag 'Save Changes'
