.content
  .content_resize
    %table#parent
      %tbody
        %tr
          %td
            .box#photo
              =image_tag @profile.pic.url(:medium), :height => '220', :width => '200'
            .box#contact_info
              %table#contact_info
                %tbody
                  %tr
                    %td
                      .bold_3
                        Phone:
                    %td #{@phone_num}
                  %tr
                    %td
                      .bold_3
                        Email:
                    %td
                      =mail_to @profile[:email]
              -unless @profile[:website].nil?
                =link_to 'Personal Website', @profile[:website]
          %td
            .box#name
              .bold_1
                #{@profile[:title]} #{@profile[:name]}
            .box#keywords
              .bold_2#heading
                Keywords
              - @keywords.each do |k|
                #{link_to(k.key.capitalize, search_path(:term => k.key)) + ";"}
            .box#description
              .bold_2#heading
                Bio
              #{@profile[:description]}
            -if @publications.length > 0
              .box#publications
                .bold_2#heading
                  Publications
                %table#publications
                  %tbody
                    - @publications.each do |pub|
                      %tr
                        -if pub[:url].nil? || pub[:url] == ''
                          #{pub[:title]}
                        -else
                          %td= link_to(pub[:title], pub[:url])